target/
.mvn/wrapper/maven-wrapper.jar
bin/
project_timesheet_BE/bin/
*.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### FE ###
/node_modules
*package-lock.json