<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Log-In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userSignInForm" class="login-form">
      <table class="login-full-width" cellspacing="0">
        <tr>
          <td>
            <div formGroupName="emailGroup">
              <mat-form-field>
                <input matInput placeholder="Email address" type="email" [(ngModel)]="user.username" name="username" formControlName="email" required>
                <mat-error>
                  {{errors.email}}
                </mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div formGroupName="passwordGroup">
              <mat-form-field>
                <input matInput placeholder="Enter your Password" [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="user.password" name="password" required>
                <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <mat-card-actions>
        <button class="login-button" mat-raised-button color="primary" type="submit" mat-raised-button [disabled]="userSignInForm.invalid" (click)="login()">Login-In</button>
        <button routerLink="../sign-up" class="sign-up-button" mat-raised-button color="primary">Sign-up</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
